@import "./normalize";
@import "./_variables";
@import "./mixins";
@import "./_base";
@import "./svg";
@import "./dragndrop-zone";
@import "./controls";
@import "./loader";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: "IBM Plex Mono", monospace;
  background-color: var(--background-clr);
}

//
.links {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0 8px;
}

.social-media {
  display: inline-block;
  margin-right: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  span {
    color: var(--main-clr);
    margin: 0 8px;
    font-size: 14px;
    transition: all 0.1s ease;
  }
  svg {
    fill: var(--main-clr);
    transform: scale(0.8);
    transition: all 0.1s ease;
  }
  &:hover {
    span {
      color: white;
    }
    svg {
      fill: white;
    }
  }
}

.checkerboard-pattern {
  background-image: linear-gradient(
      45deg,
      var(--checker-rect) 25%,
      transparent 25%
    ),
    linear-gradient(-45deg, var(--checker-rect) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checker-rect) 75%),
    linear-gradient(-45deg, transparent 75%, var(--checker-rect) 75%) !important;
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
