@import './_variables';
@import './mixins';
@import './_base';
@import './svg';
@import './dragndrop-zone';
@import './controls';
@import './loader';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  background: var(--background-clr);
}

//
.actions {
  z-index: 9999;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.content-block {
  @include content-block;
}

.action-buttons {
  display: flex;
}

.close-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 12px;
  top: 8px;
  opacity: 0.4;
  transition: all 0.1s ease;
  &:after {
    pointer-events: none;
    content: '';
    width: 16px;
    height: 3px;
    background: var(--text-clr-light);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    opacity: 1;
  }
}

#show-settings {
  margin-right: 8px;
}

#show-info {
  text-transform: lowercase;
  margin-right: 8px;
}

//
.links {
  display: flex;
  padding: 16px 0 8px;
}

.social-media {
  display: inline-block;
  margin-right: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  span {
    color: var(--main-clr);
    margin: 0 8px;
    font-size: 14px;
    transition: all 0.1s ease;
  }
  svg {
    fill: var(--main-clr);
    transform: scale(0.8);
    transition: all 0.1s ease;
  }
  &:hover {
    span {
      color: white;
    }
    svg {
      fill: white;
    }
  }
}
